<div class="form-control w-full" x-data="{ showPassword: false }">
    <label class="label" for="{{ field.id_for_label }}">
        <span class="label-text font-medium">{{ field.label }}</span>
    </label>
    <div class="relative">
        <input
            :type="showPassword ? 'text' : 'password'"
            name="{{ field.html_name }}"
            id="{{ field.id_for_label }}"
            value="{{ field.value|default:'' }}"
            class="input input-bordered w-full pr-12 {% if field.errors %}input-error{% endif %}"
            placeholder="{{ field.field.widget.attrs.placeholder|default:'' }}"
            autocomplete="{{ field.field.widget.attrs.autocomplete|default:'off' }}"
            {% if field.field.required %}required{% endif %}
        >
        <button
            type="button"
            class="btn btn-ghost btn-sm absolute right-1 top-1/2 -translate-y-1/2"
            @click="showPassword = !showPassword"
            :aria-label="showPassword ? 'Ẩn mật khẩu' : 'Hiện mật khẩu'"
        >
            <span x-show="!showPassword">👁</span>
            <span x-show="showPassword">🙈</span>
        </button>
    </div>
    {% include "authentication/partials/field_errors.html" with field=field %}
</div>
